* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background: radial-gradient(circle at top, #1d1d3a, #090916 70%);
    color: white;
    overflow-x: hidden;
}

/* TITLE */

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
}

/* STAR SKY */

.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stars::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    box-shadow:
        100px 200px white,
        300px 400px white,
        500px 100px white,
        800px 300px white,
        900px 600px white,
        1200px 200px white,
        1500px 500px white;
    animation: twinkle 4s infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

/* SCENE */

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

/* FOOTER */

footer {
    margin-top: 30px;
    text-align: center;

    padding: 15px;

    opacity: 0.7;

    z-index: 2;

}

/* ENVELOPE */

.envelope {
    margin-top: 70px;
    width: 90%;
    max-width: 340px;
    height: 220px;
    background: #d4a373;
    position: relative;
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

/* FRONT */

.front {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #d4a373;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* TEXT */

.open-text {
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
}

/* FLAP */

.flap {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-top: 120px solid #c08a5d;
    transform-origin: top;
    transition: 1s;
    z-index: 3;
}

.envelope.open .flap {
    transform: rotateX(180deg);
}

/* LETTER */
.pp {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 2;
}

.letter {
    position: relative;
    width: 90%;
    max-width: 420px;
    margin: 40px auto;
    opacity: 0;
    transform: translateY(120px);
    transition: 1s ease;
}

.letter.show {
    opacity: 1;
    transform: translateY(0);
}

/* PAPER */

.paper {
    background: #fdf6e3;
    color: #333;
    padding: 30px;
    word-break: break-word;
    line-height: 1.9;
    border-radius: 6px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .4);
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
}


/* CONFETTI */

.confetti {
    position: fixed;
    width: 8px;
    height: 8px;
    background: white;
    top: -10px;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(720deg);
    }
}

/* SHOOTING STARS */

.shooting-star {
    position: fixed;
    width: 3px;
    height: 80px;
    background: linear-gradient(white, transparent);
    transform: rotate(45deg);
    animation: shoot 1.5s linear;
}

@keyframes shoot {
    from {
        transform: translate(0, 0) rotate(45deg);
        opacity: 1;
    }

    to {
        transform: translate(600px, 400px) rotate(45deg);
        opacity: 0;
    }
}

/* MEMORIES */

.memories {
    margin-top: 120px;
    text-align: center;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.polaroid {
    background: white;
    color: black;
    padding: 10px;
    width: 180px;
    transform: rotate(-3deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    transition: .3s;
}

.polaroid:hover {
    transform: rotate(0deg) scale(1.05);
}

.polaroid img {
    width: 100%;
}

.polaroid span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

@media (max-width:600px) {

    .title {
        margin-top: 30px;
        font-size: 32px;
        margin-bottom: 50px;
    }

    .paper {
        font-size: 18px;
    }

    .open-text {
        font-size: 20px;
    }

}

@media (max-width:600px) {

    .envelope {
        width: 260px;
        height: 170px;
    }

    /* FIX FLAP SIZE */

    .flap {
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        border-top: 90px solid #c08a5d;
    }

    /* OPEN TEXT */

    .open-text {
        font-size: 18px;
    }

}